body{
  margin: 0;
  padding: 0;
}
.w{
  max-width: 1400px;
  margin: 0 auto;
}
ul li{
  list-style: none;
}
ul{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
@media screen and (max-width: 750px) {
  .w {
    max-width: 750px;
    margin: 0 auto;
  }
}